@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #FAFAFA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

/* Blueprint Grid Background */
.bg-blueprint {
  background-image: linear-gradient(to right, #1A1A1A 1px, transparent 1px);
  background-size: 10% 100%;
  /* Adjust width of columns */
  background-position: center;
}

@media (min-width: 1024px) {
  .bg-blueprint {
    background-size: 8% 100%;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #CCFF00;
  border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
  background: #b3e600;
}

::selection {
  background: #CCFF00;
  color: #050505;
}